.piece.wp,
.promotion-piece.wp {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-pawn.png") !important;
}
.piece.wn,
.promotion-piece.wn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-knight.png") !important;
}
.piece.wb,
.promotion-piece.wb {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-bishop.png") !important;
}
.piece.wr,
.promotion-piece.wr {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-rook.png") !important;
}
.piece.wq,
.promotion-piece.wq {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-queen.png") !important;
}
.piece.wk,
.promotion-piece.wk {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-king.png") !important;
}
.piece.bp,
.promotion-piece.bp {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-pawn.png") !important;
}
.piece.bn,
.promotion-piece.bn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-knight.png") !important;
}
.piece.bb,
.promotion-piece.bb {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-bishop.png") !important;
}
.piece.br,
.promotion-piece.br {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-rook.png") !important;
}
.piece.bq,
.promotion-piece.bq {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-queen.png") !important;
}
.piece.bk,
.promotion-piece.bk {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-king.png") !important;
}
