.is2d .black.pawn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-pawn.svg") !important;
}
.is2d .black.knight {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-knight.svg") !important;
}
.is2d .black.bishop {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-bishop.svg") !important;
}
.is2d .black.rook {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-rook.svg") !important;
}
.is2d .black.queen {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-queen.svg") !important;
}
.is2d .black.king {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-king.svg") !important;
}
.is2d .white.pawn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-pawn.svg") !important;
}
.is2d .white.knight {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-knight.svg") !important;
}
.is2d .white.bishop {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-bishop.svg") !important;
}
.is2d .white.rook {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-rook.svg") !important;
}
.is2d .white.queen {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-queen.svg") !important;
}
.is2d .white.king {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-king.svg") !important;
}
