.is2d .black.pawn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-pawn.png") !important;
}
.is2d .black.knight {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-knight.png") !important;
}
.is2d .black.bishop {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-bishop.png") !important;
}
.is2d .black.rook {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-rook.png") !important;
}
.is2d .black.queen {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-queen.png") !important;
}
.is2d .black.king {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/black-king.png") !important;
}
.is2d .white.pawn {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-pawn.png") !important;
}
.is2d .white.knight {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-knight.png") !important;
}
.is2d .white.bishop {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-bishop.png") !important;
}
.is2d .white.rook {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-rook.png") !important;
}
.is2d .white.queen {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-queen.png") !important;
}
.is2d .white.king {
  background-image: url("https://raw.githubusercontent.com/neverRare/kiwen-suwi/master/version/latest/kiwen-suwi/white-king.png") !important;
}
